<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<div class="selectable">
	<div id="mon_9am" class="ui-widget-content">9:00am~</div>
	<div id="mon_10am" class="ui-widget-content">10:00am~</div>
	<div id="mon_11am" class="ui-widget-content">11:00am~</div>
	<div id="mon_12am" class="ui-widget-content">12:00pm~</div>
	<div id="mon_1pm" class="ui-widget-content">1:00pm~</div>
	<div id="mon_2pm" class="ui-widget-content">2:00pm~</div>
	<div id="mon_3pm" class="ui-widget-content">3:00pm~</div>
	<div id="mon_4pm" class="ui-widget-content">4:00pm~</div>
    <div id="mon_5pm" class="ui-widget-content">5:00pm~</div>
	<div id="mon_6pm" class="ui-widget-content">6:00pm~</div>
	<div id="mon_7pm" class="ui-widget-content">7:00pm~</div>
	<div id="mon_8pm" class="ui-widget-content">8:00pm~</div>
	<div id="mon_9pm" class="ui-widget-content">9:00pm~</div>
	<div id="mon_10pm" class="ui-widget-content">10:00pm~</div>
	<div id="mon_11pm" class="ui-widget-content">11:00pm~</div>
	<div id="mon_12pm" class="ui-widget-content">12:00am~</div>
</div>
<div class="selectable">
	<div id="tues_9am" class="ui-widget-content">9:00am~</div>
	<div id="tues_10am" class="ui-widget-content">10:00am~</div>
	<div id="tues_11am" class="ui-widget-content">11:00am~</div>
	<div id="tues_12am" class="ui-widget-content">12:00pm~</div>
	<div id="tues_1pm" class="ui-widget-content">1:00pm~</div>
	<div id="tues_2pm" class="ui-widget-content">2:00pm~</div>
	<div id="tues_3pm" class="ui-widget-content">3:00pm~</div>
	<div id="tues_4pm" class="ui-widget-content">4:00pm~</div>
    <div id="tues_5pm" class="ui-widget-content">5:00pm~</div>
	<div id="tues_6pm" class="ui-widget-content">6:00pm~</div>
	<div id="tues_7pm" class="ui-widget-content">7:00pm~</div>
	<div id="tues_8pm" class="ui-widget-content">8:00pm~</div>
	<div id="tues_9pm" class="ui-widget-content">9:00pm~</div>
	<div id="tues_10pm" class="ui-widget-content">10:00pm~</div>
	<div id="tues_11pm" class="ui-widget-content">11:00pm~</div>
	<div id="tues_12pm" class="ui-widget-content">12:00am~</div>
</div>
<div class="selectable">
	<div id="wed_9am" class="ui-widget-content">9:00am~</div>
	<div id="wed_10am" class="ui-widget-content">10:00am~</div>
	<div id="wed_11am" class="ui-widget-content">11:00am~</div>
	<div id="wed_12am" class="ui-widget-content">12:00pm~</div>
	<div id="wed_1pm" class="ui-widget-content">1:00pm~</div>
	<div id="wed_2pm" class="ui-widget-content">2:00pm~</div>
	<div id="wed_3pm" class="ui-widget-content">3:00pm~</div>
	<div id="wed_4pm" class="ui-widget-content">4:00pm~</div>
    <div id="wed_5pm" class="ui-widget-content">5:00pm~</div>
	<div id="wed_6pm" class="ui-widget-content">6:00pm~</div>
	<div id="wed_7pm" class="ui-widget-content">7:00pm~</div>
	<div id="wed_8pm" class="ui-widget-content">8:00pm~</div>
	<div id="wed_9pm" class="ui-widget-content">9:00pm~</div>
	<div id="wed_10pm" class="ui-widget-content">10:00pm~</div>
	<div id="wed_11pm" class="ui-widget-content">11:00pm~</div>
	<div id="wed_12pm" class="ui-widget-content">12:00am~</div>
</div>


<table style="width:300px">
	<tr>
		<td>Jill</td>
		<td>Smith</td>
		<td>50</td>
	</tr>
	<tr>
		<td>Eve</td>
		<td>Jackson</td> 
		<td>94</td>
	</tr>
</table>
<!-- Load Libaries -->
<script src="js/jquery-1.11.1.js"></script>
<script src="js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="js/main.js"></script>

<script src="socket.io/socket.io.js"></script>
<script>
    var socket = io();
</script>

</body>
</html>